.title {
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 41px;
}

.userLink {
    display: block;
    color: red;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
}

.userName {
    color: black;
}

main {
    margin: 68px 107px;
}