.logo img {
  width: 178px;
  height: 61px;
  margin-left: 28px;
  transition: width 0.3s ease-in-out;
}

.logo {
  display: flex;
  -moz-box-align: center;
  align-items: center;
  cursor: pointer;
}

@media (max-height: 882px) {
  .logo img {
    width: 108px;
  }
}