.card {
  display: flex;
  align-items: center;
  padding: 2em;
  width: 258px;
  background: #FBFBFB;
  border-radius: 5px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  gap: 24px;
}

.card h2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #282D30;
  margin-bottom: 2px;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
}

.card p {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #74798C;
}

.card img {
  width: 60px;
  transition: width 0.3s ease-in-out;
}

@media (max-width: 1200px) {
  .card {
    padding-left: unset;
    padding: 1em;
    flex-direction: column;
    height: 160px;
    text-align: center;
  }

  .card h2 {
    white-space: inherit;
    line-height: 18px;
  }
}

@media (max-width: 1252px) {
  .card {
    gap: 14px;
    padding-left: 1em;
    width: auto;
  }
}

@media (max-width: 1044px) {
  .card {
    padding: 5px;
  }
}

@media (max-height: 931px) and (max-width: 1200px) {
  .card h2 {
    font-size: 15px;
    line-height: 20px;
  }

  .card {
    gap: 2px;
    height: 130px;
  }

  .card img {
    width: 50px;
  }

}